
.idea/CFG-Group-Project-5.iml
.idea/CFG-Group-Project-5.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/CFG-Group-Project-5.iml
*.xml
.idea/.name
.DS_Store
